.single-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
}

.single-item button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
